.nav {
  height: 40px;
  background-color: #eeeeee
}

.feed, .subs, .popular {
  background-color: #eeeeee;
  margin: 10px auto;
  max-width: 1200px;

}

.thread {
  border: solid 1px #ff00ff;
  margin: 10px auto
}

.subTitle {
  display: inline;
  padding: 0px 10px;
}

.subs, .popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .mainContainer {
  max-width: 1240px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  border: 1px solid #e151e1;
  margin: 0 auto;
} */